*{
    margin:0;
    padding:0;
}
html{
    font-size:12px;
}
#mainSec{
    background-image:url('../images/wallpaper.png');
    background-position:100% 100%;
    background-repeat:no-repeat;
    height:50rem;
    border-top:1px solid transparent;
}

#insideMain{
    font-family:arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,simsun,"宋体";
    text-align:center;
}

#insideMain p{
    color:white;
}
#insideMain >p:first-child{
    font-size:70px;
    margin-top:10%;
    letter-spacing:5px;
}
#insideMain >p:nth-child(2){
    font-size:27px;
    letter-spacing:6px;
}

#downloadBtn{
    display:inline-block;
    margin-top:10rem;
    width:21rem;
    height:3.7rem;
    font-size:20px;
    padding-top:1.3rem;
    opacity:0.5;
    background:black;
    letter-spacing:2px;
    color:white;
    border-radius:0.3rem;
}
#downloadBtn:hover{
    opacity:0.7;
}
#downloadSec{
    width:30rem;
    height:46rem;
    background:white;
    /*background-image:url('../images/phone.png');*/
    background-position:100% 100%;
    background-repeat: no-repeat;
    position:absolute;
    top:15%;
    left: 40%;
    left:calc(50% - 15rem);
    text-align:center;
    display:flex;
    flex-direction:column;
    visibility: hidden;
    color:grey;
    border-radius:0.5rem;
}
#cancelBtn{
    position:absolute;
    right:1rem;
    top:1rem;
    color:#ccc;
}
#cancelBtn:hover{
    color:grey;
}
/*#downloadSec >div:first-child img{ 
    width:11rem;
    height:11rem;
    margin-top:12rem;
    border-radius:20%;
}*/
#appName{
    display:inline-block;
    margin-top:6rem;
    font-size:36px;
}
#insideMain #version{
    font-size:15px;
    color:#aaa;
}
#downAndroid span{
    background:white;
    font-size:20px;
    color:#555;
    width:14rem;
    height:2.7rem;
    margin: 1rem 0;
    padding-top:0.9rem;
    margin-top:5rem;
    border:2px solid #999;
    border-radius:0.5rem;
}
a{
    text-decoration:none;
    color:#555;
}
a:hover{
    color:white;
}
#downAndroid span:hover{
    background:black;
    color:white;
}
#downloadSec >div:last-child img{
    width:15rem;
    height:15rem;
    margin-top:1.5rem;
    padding:4px;
    border:2px solid #ddd;
}


#secondSec{
    margin: 9rem;
    font-size:20px;
    color:grey;
    text-align:center;
}
#secondSec .strong{
    font-size:40px;
    margin:0 1rem;
}
#secondSec h1{
    margin:2rem;
    color:black;
    letter-spacing:5px;
}
#secondSec p{
    display:inline-block;
    width:40%;
}

#footer{
    text-align: center;
    background:#ddd;
    height:3rem;
    padding-top:2.5rem;
    font-size:15px;
    color:grey;
}

#mobile{
    display:none;
}




/*移动端*/
@media (max-width: 768px){
    #pc{
        display:none;
    }
    #mobile{
        background:grey;     
        width:100%;
        height:50rem;
        text-align: center;
        color:white;
        background-image:url('../images/rain2.gif');
        background-repeat: no-repeat;
        background-position:100% 100%;
        border:1px solid black;
        display:flex;
        flex-direction:column;
        align-content: center;
    }

    #mobileSec{
        
    }
    #mobileP1{
        font-size:50px;
        margin-top:80px;
    }
    #mobileP2{
        font-size:15px;
        letter-spacing:5px;
    }
    #mobileP3{
        margin-top:250px;
        border:1px solid #DDD;
        width:200px;
        height:20px;
        border-color:grey;
        border-radius:10px;
        margin-left:auto;
        margin-right:auto;
        letter-spacing:2px;
        padding-top:1px;
    }
    #mobileDownload{
        width:200px;
        height:34px;
        background:black;
        color:white;
        margin: 20px auto;
        padding-top:5px;
        letter-spacing:2px;
        font-size:20px;
        border-radius:5px;
    }
    a{
        color:white;
    }
    a:visited{
        color:grey;
    }
    a:hover{
        color:#aaa;
    }
}

